@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&family=Poppins:wght@100;200;400&family=Raleway:wght@200&display=swap');
    


*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

/* Toggle Dark Mode*/
:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #5368c5;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    


    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease:
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}




body{
    font-family: 'Lato' , sans-serif;
    color: #333;
    line-height: 1.6;

}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

ul{
    list-style: none;
    

}
 li.mode{

    display: flex;
}


a{
    text-decoration: none;
    color: #333;

}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* Navbar */

.navbar{
    background-color: var(--primary-color);
    color:#fff;
    height: 100px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color:#fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    justify-content: space-between;
}

/* Showcase*/
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1{
    font-size: 40px;
    width: 60%;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap:30px;
    overflow: visible;
}

.showcase-form{
    position: relative;
    top:60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control{
    margin: 30px 0;

}

.showcase-form input[type='text'],
.showcase-form input[type="email"]{
    border: 0;
    border-bottom:  1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before, .showcase::after{
    content:'';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    background: white;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.showcase-text{
    animation: slideInFromLeft 1s ease-in;

}



/* Presentation */

.parent {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 100%;
    height: 100%;
    animation: slideInFromBottom 1s ease-in;
    }

   
    .div1 img{
        width: 200px;
        height: 200x;
        margin-bottom: 40px;
        
    }
    .div2 p{
        
        font-weight: 400;
        width: 100%;
        position: relative;
        font-size: 17px;
        
    
    }
    .div2 h2{
        margin-bottom: 30px;

    }
    
   
/*quote*/

.quote{
    height: 170px;
    background-color: rgb(202, 214, 230);
    opacity: 70%;
    
}

.containerquote{
    width: 100%;
    position: relative;

}

.containerquote h1{
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(200%);
    font-weight: 600;
}


/* Stats*/

.stats{
    padding-top: 100px;
    

}

.stats-heading{
    max-width: 500px;
    margin: auto;
}


.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}


/** CLI **/
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}
.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

div.card{
    margin-left: -25%;
}

.cli{
    margin-left: 10%;
}

/** News */

.news .grid{
    grid-template-columns: 4fr 3fr;

}

/*Sponsors*/

.sponsors .flex{
    flex-wrap: wrap;
}

.sponsors .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.sponsors .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.sponsors .card:hover{
    transform: translateY(-15px);
}

/*Footer*/

.footer .social a{
    margin: 0 10px;
}

/*News*/

.news-head img{
    width: 200px;
    justify-self: flex-end;
}

/*News cards*/

 .newscards{
    margin-top: 3%;
    margin-bottom: 5%;

}


.containernews {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow:hidden;
  padding-top:5px;
  box-shadow: 0px 1px 3px #c8c8c8;
  margin-bottom: 5px;
  margin-right: 10px;

}

.containernews .cardnews:hover{
    transform: translateY(-15px);
}
.cardnews {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: transform .2s ease-in; /* Animation */
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4{
    font-weight: 900;
    font-size: 22px;
    padding-bottom: 10px;
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 17px;
  margin: 0 0 40px;
  font-weight: 600;
}

p.rules{
    margin-top: 40px;
}

.rules{
    margin-top: 28px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.cardnews:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  } 


/* Video gallery*/

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 70px;
    max-width: 1100px;
    padding: 15px; 
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .video-gallery .gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
    background: #000;
    cursor: pointer;
    overflow: hidden;
  }

  
  .video-gallery .gallery-item img {
    position: relative;
    display: block;
    width: 115%;
    height: 300px;
    object-fit: cover;
    opacity: .5;
    /*transition: opacity .35s, transform .35s;*/
    transition: all 350ms ease-in-out;
    transform: translate3d(-23px, 0, 0);
    /*backface-visibility: hidden;*/
  }
  
  .north-cascades-img {
    object-position: 50% 30%;
  }
  
  .video-gallery .gallery-item .gallery-item-caption {
    padding: 32px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
  }
  
  .video-gallery .gallery-item .gallery-item-caption,
  .video-gallery .gallery-item .gallery-item-caption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video-gallery .gallery-item h2 {
    font-weight: 300;
    overflow: hidden;
    padding: 12px 0;
  }
  
  .video-gallery .gallery-item h2,
  .video-gallery .gallery-item p {
    position: relative;
    margin: 0;
    z-index: 1;
    
  }
  
  .video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 12px 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10%, 0, 0);
  }
  
  .video-gallery .gallery-item:hover img {
    opacity: 0.3;
    transform: translate3d(0, 0, 0);
  }
  
  .video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
  }
  
  .video-gallery .gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
  }
  
  .video-gallery .gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);
  }
  
  .video-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  /* Animations */

  @keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }

  }
  @keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
    
  }
  @keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
    
  }
  @keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
    
  }

/* Tablets and under*/

@media(max-width:768px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;

    }
    .shoucase-text{
        text-align: center;
        margin-top:40px;
        animation: slideInFromTop 1s ease-in;
    }
    .showcase-form{
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    
    .cli .grid >*:first-child{
        grid-column: 1;
        grid-column: 1;
    }    
    .stats{
        margin-top: 12%;
    }

    }

     .video-gallery {
        width: 100%;
        padding: 15px;    
    
      }
      .video-gallery .gallery-item {
        width: 95%;
        margin: 0 auto; 
        width: 100%;
      } 



/*Mobile*/
@media(max-width:500px){
    .navbar{
        height: 110px;

    }
    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
        background-color: rhba(0,0,0,0.1);
    }
    .showcase-text{
        margin-left:5%;
    }
    .cli .card{
        margin: auto;
    }
    
    }
    .div2 p{
        margin: 0 25px;
    }
     div.showcase-form.card{
        margin-left: 5%;
        
    }

    div.containerquote h1{
        width: 80%;
        
    }
    .containerquote{
        transform: translateY(-100%);
        margin-left: 10%;
    }
    
    .presentation{
        
        
        }
        .div2 p{
            margin-right: 5%;
            width: 85%;
        }
    
    div.container.grid object{
        height: 99%;
        width: 99%;
    }
        
    div.containerquote h1{
        width: 80%;
        
    }
    .containerquote{
        transform: translateY(-100%);
        margin-left: 10%;
    }

    .sponsors{
        width: 70%;
        height: 40%;
        margin: auto;
    }
    .card img{
        width: 80%;
        height: 70%;
    }

    .footer{
        width: 100%;
    }



